if TARGET_PENTAGRAM_COMMON || TARGET_PENTAGRAM_B_BOOT

config SYS_CONFIG_NAME
	default "pentagram_common"

config SYS_SOC
	default "pentagram"

config SYS_BOARD
	default "pentagram_board"

config SYS_TEXT_BASE
	default 0x200040

config HUSH_PARSER
	default y

endif
