config PINCTRL_SUNPLUS
	depends on DM && (ARCH_PENTAGRAM && !TARGET_PENTAGRAM_Q645 && !TARGET_PENTAGRAM_SP7350)
	default y
	bool "Sunplus SP7021 pin control driver"
	help
	   Support pin multiplexing and pin configuration control on
	   Sunplus's SP7021 SoC.

config PINCTRL_SUNPLUS_Q645
	depends on DM && TARGET_PENTAGRAM_Q645
	default y
	bool "Sunplus Q645 pin control driver"
	help
	   Support pin configuration control on Sunplus's Q645 SoC.

config PINCTRL_SUNPLUS_SP7350
	depends on DM && TARGET_PENTAGRAM_SP7350
	default y
	bool "Sunplus SP7350 pin control driver"
	help
	   Support pin configuration control on Sunplus's SP7350 SoC.
