/*
 * Sunplus Pentagram sc70xx DTS
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "sunplus,pentagran";

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "arm,cortex-a9";
			device_type = "cpu";
			reg = <0>;
		};
	};

	sp_uart0: serial@9c000900 {
		compatible = "sunplus,sunplus-uart";
		reg = <0x9c000900 0x80>;
	};
	
	sp_emmc: mmc@9C003B00 {
		compatible = "sunplus,sunplus-q628-emmc";
		reg = <0x9C003B00 0x180>;
	};

	sp_sdcard: mmc@9C003E80 {
		compatible = "sunplus,sunplus-q628-sd";
		reg = <0x9C003E80 0x280>;
	};

	sp_usb0: usb@9C102100 {
		compatible = "sunplus,sunplus-q628-usb-ehci0";
		reg = <0x9C102100 0x68>;
	};

	sp_usb1: usb@9C103100 {
		compatible = "sunplus,sunplus-q628-usb-ehci1";
		reg = <0x9C103100 0x68>;
	};
};
