/*
 * Sunplus Pentagram board DTS
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */
/dts-v1/;
#include "pentagram-sp70xx.dtsi"

/ {
	model = "SP7021 TPPg2 board";
	compatible = "sunplus,pentagram-common", "sunplus,pentagram";

	#address-cells = <1>;
	#size-cells = <1>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "arm,cortex-a9";
			device_type = "cpu";
			reg = <0>;
		};
	};

	chosen {
		bootargs = "";
		stdout-path = "serial0:115200n8";
	};
};
