/*
 * Sunplus Pentagram sc70xx DTS
 *
 * SPDX-License-Identifier:	GPL-2.0+
 */

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "sunplus,pentagran";

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "arm,cortex-a9";
			device_type = "cpu";
			reg = <0>;
		};
	};

	sp_uart0: serial@9c000900 {
		compatible = "sunplus,sunplus-uart";
		reg = <0x9c000900 0x80>;
	};
	
	/* 8388 platform emmc host controller */
	sp_emmc: mmc@9C003B00 {
		compatible = "sunplus,sunplus-q610-emmc";
		reg = <0x9C003B00 0x280>;
	};

	/* 8388 platform sd slot1 host controller */
	/* can't work, please don't use it
	sp_emmc: mmc@9C003B00 {
		compatible = "sunplus,sunplus-sd1";
		reg = <0x9C003E80 0x280>;
	};
	*/
};
