CONFIG_ARM=y
CONFIG_ARCH_PENTAGRAM=y
CONFIG_TARGET_PENTAGRAM_Q645=y
CONFIG_SYS_TEXT_BASE=0x300000
CONFIG_SYS_MALLOC_F_LEN=0x40000
CONFIG_PHYS_64BIT=y
CONFIG_DEFAULT_DEVICE_TREE="q645-ev"
CONFIG_DEBUG_UART=y
CONFIG_BOOTDELAY=0
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_MD5SUM=y
CONFIG_MD5SUM_VERIFY=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_PART=y
CONFIG_CMD_USB=n

CONFIG_CLK_CCF=y
CONFIG_CLK_COMPOSITE_CCF=y
#CONFIG_LOGLEVEL=7

CONFIG_CMD_EXT2=y
CONFIG_CMD_FAT=y

CONFIG_OF_SEPARATE=y

CONFIG_DEVRES=y
CONFIG_DEBUG_DEVRES=y

# CONFIG_SYS_ARCH_TIMER is not set
# CONFIG_MMC is not set
CONFIG_DM_MMC=n
CONFIG_DEBUG_UART_BASE=0x0
CONFIG_DEBUG_UART_CLOCK=90000
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_SUNPLUS_SERIAL=y
CONFIG_USB=n
# CONFIG_USB_EHCI_HCD is not set
CONFIG_REGEX=y
CONFIG_USB_STORAGE=y
#
# Soc
#
CONFIG_OTP_SUNPLUS=y
#
# Pin controllers & GPIO
#
CONFIG_PINCTRL_SUNPLUS_Q645=y
CONFIG_CMD_GPIO=y

CONFIG_SYS_ENV_ZEBU=y
CONFIG_CMD_UNZIP=y
# CONFIG_CMD_TPS_MD is not set
# CONFIG_CMD_TPS_UPD is not set
# CONFIG_TPS_UPD_MMC is not set
# CONFIG_TPS_UPD_NAND is not set
# CONFIG_TPS_UPD_TFTP is not set
# CONFIG_TPS_UPD_USB is not set
# CONFIG_TFABOOT is not set
# CONFIG_DM_VIDEO is not set
CONFIG_SYS_ZMEM_SKIP_RELOC=y
CONFIG_SP_ZMEM_RELOC_ADDR=0x3efffc0

