CONFIG_ARM=y
CONFIG_ARCH_PENTAGRAM=y
CONFIG_TARGET_PENTAGRAM_SP7350=y
CONFIG_SYS_ENV_SP7350_EVB=y
CONFIG_SYS_TEXT_BASE=0x500000
CONFIG_SYS_MALLOC_F_LEN=0x40000
CONFIG_PHYS_64BIT=y
CONFIG_DEFAULT_DEVICE_TREE="sp7350-ev"
CONFIG_DEBUG_UART=y
CONFIG_BOOTDELAY=0
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_MD5SUM=y
CONFIG_MD5SUM_VERIFY=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_PART=y
CONFIG_CMD_USB=n

CONFIG_CMD_EXT2=y
CONFIG_CMD_FAT=y

CONFIG_CMD_MTDPARTS=y
CONFIG_OF_SEPARATE=y
CONFIG_CMD_DM=n
CONFIG_BOARD_LATE_INIT=n
CONFIG_CLK_CCF=y
CONFIG_CLK_COMPOSITE_CCF=y

CONFIG_SYS_ARCH_TIMER=y
# CONFIG_SP_TIMER is not set
# CONFIG_MMC is not set
CONFIG_MTD=y
CONFIG_DM_MTD=y
CONFIG_MTD_RAW_NAND=y
CONFIG_SP_PARANAND=y
# CONFIG_ENV_IS_IN_NAND is not set
CONFIG_ENV_OFFSET=0x600000
CONFIG_ENV_SIZE=0x20000
# CONFIG_SYS_REDUNDAND_ENVIRONMENT is not set
CONFIG_ENV_OFFSET_REDUND=0x680000
CONFIG_DEBUG_UART_BASE=0x0
CONFIG_DEBUG_UART_CLOCK=90000
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_SUNPLUS_SERIAL=y
CONFIG_REGEX=y
#
# Soc
#
CONFIG_OTP_SUNPLUS=y
#
# Pin controllers & GPIO
#
CONFIG_PINCTRL_SUNPLUS_SP7350=y
CONFIG_CMD_GPIO=y
#
# Net
#
CONFIG_NETDEVICES=y
CONFIG_NET=n
CONFIG_LIB_RAND=y
CONFIG_NET_RANDOM_ETHADDR=y
#
# Network commands
#
CONFIG_CMD_NET=y
CONFIG_CMD_TFTPPUT=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_UBI=y
CONFIG_CMD_UBIFS=y
CONFIG_CMD_PING=y
CONFIG_CMD_NAND=y

CONFIG_CMD_UNZIP=y
# CONFIG_CMD_TPS_MD is not set
# CONFIG_CMD_TPS_UPD is not set
# CONFIG_TPS_UPD_MMC is not set
# CONFIG_TPS_UPD_NAND is not set
# CONFIG_TPS_UPD_TFTP is not set
# CONFIG_TPS_UPD_USB is not set
# CONFIG_TFABOOT is not set
# CONFIG_SYS_ZMEM_SKIP_RELOC is not set

#
# Display
#
CONFIG_VIDEO_SP7350=n
CONFIG_DM_VIDEO_SP7350_LOGO=n
#
# Keyboard
#
CONFIG_USE_PREBOOT=n
CONFIG_DM_KEYBOARD=n
CONFIG_USB_KEYBOARD=n
#
# USB
#
CONFIG_USB=n
CONFIG_DM_USB=n
CONFIG_USB_EHCI_HCD=n
CONFIG_USB_EHCI_SUNPLUS=n
CONFIG_USB_OHCI_HCD=n
CONFIG_USB_OHCI_SUNPLUS=n
CONFIG_USB_STORAGE=y
#
# SPI and I2C
#
CONFIG_DM_I2C=y
CONFIG_DESIGNWARE_SPI=y
CONFIG_CMD_SPI=y
CONFIG_SYS_I2C_DW=y
CONFIG_CMD_I2C=y
