CONFIG_ARM=y
CONFIG_ARCH_PENTAGRAM=y
CONFIG_TARGET_PENTAGRAM_SP7350=y
CONFIG_SYS_TEXT_BASE=0x500000
CONFIG_SYS_MALLOC_F_LEN=0x40000
CONFIG_PHYS_64BIT=y
CONFIG_DEFAULT_DEVICE_TREE="sp7350-ev"
CONFIG_DEBUG_UART=y
CONFIG_BOOTDELAY=0
CONFIG_CMD_BOOTZ=y
CONFIG_CMD_MD5SUM=y
CONFIG_MD5SUM_VERIFY=y
CONFIG_CMD_MEMINFO=y
CONFIG_CMD_PART=y
CONFIG_CMD_USB=n

CONFIG_CMD_EXT2=y
CONFIG_CMD_FAT=y

CONFIG_OF_SEPARATE=y
CONFIG_CLK_CCF=y
CONFIG_CLK_COMPOSITE_CCF=y

CONFIG_SYS_ARCH_TIMER=y
# CONFIG_SP_TIMER is not set
# CONFIG_MMC is not set
CONFIG_DM_MMC=n
CONFIG_DEBUG_UART_BASE=0x0
CONFIG_DEBUG_UART_CLOCK=90000
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_SUNPLUS_SERIAL=y
CONFIG_REGEX=y
#
# Soc
#
CONFIG_OTP_SUNPLUS=y
#
# Pin controllers & GPIO
#
CONFIG_PINCTRL_SUNPLUS_SP7350=y
CONFIG_CMD_GPIO=y

CONFIG_SYS_ENV_ZEBU=y
CONFIG_CMD_UNZIP=y
# CONFIG_CMD_TPS_MD is not set
# CONFIG_CMD_TPS_UPD is not set
# CONFIG_TPS_UPD_MMC is not set
# CONFIG_TPS_UPD_NAND is not set
# CONFIG_TPS_UPD_TFTP is not set
# CONFIG_TPS_UPD_USB is not set
# CONFIG_TFABOOT is not set
CONFIG_SYS_ZMEM_SKIP_RELOC=y
CONFIG_SP_ZMEM_RELOC_ADDR=0xfefffc0

CONFIG_CMD_DM=n
CONFIG_BOARD_LATE_INIT=n
#
# Display
#
CONFIG_VIDEO_SP7350=n
CONFIG_DM_VIDEO_SP7350_LOGO=n
#
# Keyboard
#
CONFIG_USE_PREBOOT=n
CONFIG_DM_KEYBOARD=n
CONFIG_USB_KEYBOARD=n
#
# USB
#
CONFIG_USB=n
CONFIG_DM_USB=n
CONFIG_USB_EHCI_HCD=n
CONFIG_USB_EHCI_SUNPLUS=n
CONFIG_USB_OHCI_HCD=n
CONFIG_USB_OHCI_SUNPLUS=n
CONFIG_USB_STORAGE=y
#
# SPI and I2C
#
CONFIG_DM_I2C=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_DESIGNWARE_SPI=y
CONFIG_CMD_SPI=y
CONFIG_DEFAULT_SPI_BUS=0
CONFIG_DEFAULT_SPI_MODE=0
CONFIG_SYS_I2C_DW=y
CONFIG_CMD_I2C=y
