if ARCH_PENTAGRAM

config SYS_VENDOR
	string "Vendor name"
	default "sunplus"

choice
	prompt "Board select"
	optional

config TARGET_PENTAGRAM_COMMON
	bool "pentagram common board"
	select CPU_V7
	select SYS_THUMB_BUILD

config TARGET_PENTAGRAM_B_BOOT
	bool "pentagram common board (B boot)"
	select CPU_ARM926EJS

endchoice

config SYS_ENV_ZEBU
	bool "zebu environment"

source "board/sunplus/pentagram_board/Kconfig"

endif

